@media (min-width: 768px) {
  header {
    padding: 20px 30px;
  }
  .is-hero {
    display: flex;

    height: 80vh;
    padding: 30px 90px;

    text-align: left;

    align-items: center;
  }
  .is-hero-inner {
    position: relative;

    width: 100%;
  }
  .is-hero-inner::after {
    position: absolute;
    top: 55%;
    right: 40px;

    width: 236px;
    height: 425px;

    content: "";
    transform: rotate(5.5deg) translateY(-50%);

    background-image: url(../img/iphone.png);
    background-size: cover;
  }
  .is-hero h1,
  .is-hero p {
    width: 280px;
  }
  .is-advantages {
    padding: 60px 90px 90px;
  }
  .is-advantages h2 {
    display: block;
  }
}
